@import url(../node_modules/reset.css/reset.css);
@import url(../node_modules/normalize.css/normalize.css);
@import url(../node_modules/swiper/swiper-bundle.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  font-size: 1rem;
  line-height: 1.5;
  max-width: 570px;
}
// Font
@font-face {
  font-family: "NeueMontreal";
  font-weight: bold;
  src: url(./assets/fonts/NeueMontreal-Bold.ttf);
}
@font-face {
  font-family: "NeueMontreal";
  font-weight: 500;
  src: url(./assets/fonts/NeueMontreal-Medium.ttf);
}
@font-face {
  font-family: "NeueMontreal";
  font-weight: normal;
  src: url(./assets/fonts/NeueMontreal-Regular.ttf);
}
// Font

// General

:root {
  --accent: #003d31;
  --accent-light: #5ce4ca;
  --yelow: #fffaa4;
  --red: #ff7d7d;
  --white: #fff;
  --gray: #596966;
}

body {
  position: relative;
  font-family: "NeueMontreal";
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1;
}

.container {
  max-width: 1170px;
  padding: 0 1.27rem;
  margin: 0 auto;
}
.section {
  margin-top: 10.6rem;
}

.section-heading {
  font-size: 2.8rem;
  font-weight: 600;
  color: var(--accent);
  .accent {
    color: var(--accent-light);
  }
}

.link {
  position: relative;
  color: var(--accent);
  text-decoration: none;
  text-transform: capitalize;
  &::before {
    position: absolute;
    content: "";
    bottom: -2px;
    width: 0;
    height: 1px;
    background-color: var(--accent);
    transition: all 0.2s ease-in-out;
  }
  &:hover::before {
    width: 100%;
  }
}

.button-grup {
  display: flex;
  gap: 1rem;
  align-items: center;
  @media screen and (max-width: 375px) {
    width: 100%;
    flex-direction: column !important;
  }
}

.button {
  font-size: 1rem;
  padding: 0 1.5rem;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  border: 1px solid var(--accent);
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.button--outline {
  color: var(--accent);
  background-color: transparent;
}

.button--fill {
  color: var(--white);
  background-color: var(--accent);
}

.heading-label {
  padding: 1rem 2.37rem;
  border-radius: 22px;
}

.heading-label--white {
  background-color: var(--white);
}

.heading-label--yelow {
  background-color: var(--yelow);
  font-weight: 500;
}

.dropdown {
  height: 58px;
  width: 172px;
  border-radius: 6px;
  display: flex;
  padding: 0.93rem 1.25rem;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  color: var(--accent);
  cursor: pointer;
  &-indicator {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &-flag {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    background-color: var(--accent);
  }
}

.section-heading {
  max-width: 570px;
}

.cards-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.875rem;
  @media screen and (max-width: 900px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media screen and (max-width: 500px) {
    grid-template-columns: 1fr;
  }
}

.card-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2.62rem 1.37rem;
  gap: 1.25rem;
  line-height: 1.5;
  background-color: #fffae9;
  .card-descriptor--accent {
    font-weight: 600;
  }
}

.testimonial-card {
  text-align: left;
  border-radius: 12px;
  background-color: var(--white);
  padding: 2.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1.87rem;
  max-width: 370px;
  p {
    color: var(--gray);
  }
  &__header {
    display: flex;
    align-items: center;
    gap: 1rem;
    .name {
      font-weight: 600;
      color: var(--accent);
    }
    p {
      color: var(--gray);
    }
    figure {
      border-radius: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--yelow);
      width: 64px;
      height: 64px;
    }
  }
  &__decor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    .decor-line {
      width: 100%;
      height: 2px;
      background-color: var(--gray);
      opacity: 0.3;
    }
  }
}

.col {
  a {
    color: var(--gray);
    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }
  &-heading {
    font-size: 1.37rem;
    font-weight: 600;
    color: var(--accent);
    @media screen and (max-width: 768px) {
      font-size: 1.1rem;
    }
  }
  ul {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
  }
}

// General

// Header

.desktop-header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  padding: 1.87rem 0;
  .section-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-wrapper {
    display: flex;
    align-items: center;
    gap: 2.5rem;
  }
  .button-grup {
    display: flex;
    gap: 1.25rem;
  }
}

//Header -> Mobile Nav
.mobile-header {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 99;
  padding: 1.87rem 0;
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.burger {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 30px;
  height: 20px;
  cursor: pointer;
  .burger-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: var(--accent);
  }
}

.mobile-nav--active {
  height: 100vh !important;
  visibility: visible !important;
}
.mobile-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  z-index: 98;
  display: none;
  overflow: hidden;
  visibility: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  gap: 2rem;
  transition: all 0.2s ease-in-out;
  .nav-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.45rem;
    .link {
      font-size: 1.45rem;
    }
  }
  .button-grup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .mobile-header {
    display: block;
  }
  .desktop-header {
    display: none;
  }
  .mobile-nav-wrapper {
    display: flex;
  }
}
//Header -> Mobile Nav
// Header

// Hero

.hero {
  position: relative;
  background-color: var(--accent-light);
  background-image: url("./assets/img/hero.svg");
  background-repeat: no-repeat;
  background-size: cover;
  .section-wrapper {
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    .heading {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.25rem;
      .heading-label-wrapper {
        display: flex;
        gap: 1.25rem;
      }
    }
    h2 {
      font-size: 4.5rem;
      white-space: nowrap;
    }
    .description {
      max-width: 570px;
      line-height: 1.5;
      color: var(--accent);
      p {
        text-align: center;
      }
    }
  }
  .bg-item:nth-of-type(1) {
    position: absolute;
    top: 20%;
    left: 20%;
  }
  .bg-item:nth-of-type(2) {
    position: absolute;
    bottom: 10%;
    left: 20%;
  }
  .bg-item:nth-of-type(3) {
    position: absolute;
    top: 20%;
    right: 10%;
  }
  .bg-item:nth-of-type(4) {
    position: absolute;
    bottom: 10%;
    right: 10%;
  }
  .button-grup {
    display: flex;
    gap: 1.25rem;
    margin-top: 1.75rem;
    flex-wrap: wrap;
    .button {
      width: 182px;
      height: 58px;
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    h2 {
      font-size: 2.5rem !important;
    }
    .heading {
      gap: 1rem;
    }
    .heading-label-wrapper {
      flex-wrap: wrap;
    }
    .description {
      font-size: 1rem;
    }
    .button-grup {
      justify-content: center !important;
    }
  }
}

@media screen and (max-width: 375px) {
  .hero {
    padding: 1rem 0 1rem 0;
    h2 {
      font-size: 1.5rem !important;
    }
    .description {
      p {
        font-size: 0.87rem;
      }
    }
  }
}

// Hero

//About

.about {
  .section-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    column-gap: 8.125rem;
    img {
      width: 100%;
    }
  }
  .section-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: var(--gray);
    line-height: 1.5;
    font-size: 1.125rem;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 570px;
  }
}

@media screen and (max-width: 1024px) {
  .about {
    .section-wrapper {
      column-gap: 2.125rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .about {
    .section-wrapper {
      row-gap: 2.125rem;
      grid-template-columns: 1fr;
      figure {
        grid-row: 2;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        max-width: 60%;
      }
    }
  }
}
//About

//Learnway
.learn-way {
  .section-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.375rem;
  }
  .section-heading {
    text-align: center;
  }
}
//Learnway

//boost
.boost {
  .section-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    column-gap: 8.125rem;
    img {
      width: 100%;
    }
    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.25rem;
      button {
        background-color: var(--yelow);
        color: var(--accent);
        border-color: var(--yelow);
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .boost {
    .section-wrapper {
      column-gap: 2.125rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .boost {
    .section-wrapper {
      row-gap: 2.125rem;
      grid-template-columns: 1fr;
      figure {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      img {
        max-width: 60%;
      }
    }
  }
}
//boost

//countdown

.countdown {
  background-color: var(--red);
  position: relative;
  &-bg-item:nth-of-type(1) {
    position: absolute;
    display: block;
    width: 35px;
    height: 35px;
    top: 50%;
    left: 3%;
    opacity: 0.3;
    transform: translate(0, -50%);
    img {
      width: 100%;
    }
  }
  &-bg-item:nth-of-type(2) {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    right: 3%;
    opacity: 0.3;
    transform: translate(0, -50%);
    img {
      width: 100%;
    }
  }
  .section-wrapper {
    padding: 6.25rem 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    @media screen and (max-width: 1100px) {
      justify-content: center;
      gap: 5rem;
    }
    @media screen and (max-width: 400px) {
      justify-content: center;
      gap: 2.5rem;
    }
  }
  .feature-item {
    font-weight: 600;
    font-size: 2.25rem;
  }
}

//countdown

//testimonial

.testimonial {
  background-color: #fffae9;
  padding: 6.25rem 0;
  text-align: center;
  .section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4.37rem;
    .heading-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1.25rem;
    }
  }
  .testimonial-slider {
    width: 100%;
    overflow: hidden;
  }
}

//testimonial

// propose

.propose {
  background-color: var(--accent-light);
  padding: 6.25rem 0;
  .section-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    align-items: center;
    justify-content: center;
    column-gap: 8.125rem;
  }
  .heading {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    font-size: 2.8rem;
  }
  .content-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
  }
  button {
    height: 58px;
  }
}

@media screen and (max-width: 1024px) {
  .propose {
    .section-wrapper {
      column-gap: 2.125rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .propose {
    .section-wrapper {
      row-gap: 2.125rem;
      grid-template-columns: 1fr;
    }
  }
}

// propose
//faq

.faq {
  padding: 6.25rem 0;
  background-color: #fffae9;
  .heading-group {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
    color: var(--gray);
    p {
      font-size: 1.12rem;
    }
    .heading-descriptor {
      a {
        font-weight: 500;
        color: var(--accent);
        text-decoration: none;
      }
    }
  }
  .section-wrapper {
    display: flex;
    justify-content: center;
  }
}

//faq

//footer

.footer {
  background-color: #fffae9;
  padding: 3.125rem 0;
  border-top: 1px solid var(--gray);
  &-wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.2rem;
    justify-content: center;
    @media screen and (max-width: 600px) {
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1.2rem;
      row-gap: 2rem;
      grid-auto-flow: dense;
    }
  }
  .bottom-footer-wrapper {
    margin: 3.125rem 0 0 0;
    padding: 1.75rem 0;
    border-top: 1px solid var(--gray);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    ul {
      display: flex;
      gap: 1.12rem;
      flex-wrap: wrap;
      align-items: center;
      a {
        color: var(--gray);
      }
    }
    .bottom-footer-heading {
      font-size: 1.37rem;
      color: var(--accent);
      font-weight: 600;
    }
    .copywrite-social {
      margin-top: 3rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      color: var(--gray);
      gap: 1rem;
      justify-content: space-between;
      @media screen and (max-width: 425px) {
        width: 100%;
        justify-content: center;
      }
      a {
        color: var(--accent);
        font-size: 2.25rem;
      }
    }
  }
}

//footer
